# Default values for Bluesky production. These will be overridden by actual environment variables if present
VITE_CARD_URL='{{ .cardUrl }}'
VITE_EMBED_URL='{{ .embedUrl }}'
VITE_LINK_URL='{{ .linkUrl }}'
VITE_PUBLIC_APPVIEW_URL='{{ .appviewUrl }}'
VITE_SOCIAL_APP_ABOUT='{{ .socialappAbout }}'
VITE_SOCIAL_APP_HOST='{{ .socialappHost }}'
VITE_SOCIAL_APP_NAME='{{ .socialappName }}'
VITE_SOCIAL_APP_URL='{{ .socialappUrl }}'
